@model tt_apps_srs.Models.Store
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Retailer</div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">@Model.Retailer.Name</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Name</div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">@Model.Name</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Location Number</div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">@Model.LocationNumber</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Address</div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <address>
                    @Model.Addr_Ln_1,<br />
                    @if (!String.IsNullOrEmpty(Model.Addr_Ln_2))
                    {
                        <text>@Model.Addr_Ln_2,<br /></text>

                    }
                    @Model.City, @Model.State
                    @if (!String.IsNullOrEmpty(Model.Zip))
                    {
                        <text>- @Model.Zip</text>
                    }
                </address>
            </div>
        </div>
        @if (!String.IsNullOrEmpty(Model.Phone))
        {
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Phone</div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12"><tel>@Model.Phone</tel></div>
            </div>

        }
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">Active</div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                @if (Model.Active)
                {
                    <text><i style="font-size:5em" class="fas fa-tag text-primary"></i></text>
                }
                else
                {
                    <text><i class="fas fa-tag bg-danger"></i></text>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div id="gmap_StoreLocation"></div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: @Model.Latitude, lng: @Model.Longitude };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('gmap_StoreLocation'), { zoom: 15, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: '@Model.Name - @Model.LocationNumber',
                animation: google.maps.Animation.DROP
            });
        }
    </script>
    <script async defer type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA47sqq4fHReCXHT3UTFGaLgulC5sooxt8&callback=initMap">
    </script>
}
@section Head
    {
    <style>
        /* Set the size of the div element that contains the map */
        #gmap_StoreLocation {
            height: 200px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
}