@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Globalization
@using Nest
@model IEnumerable<tt_apps_srs.Lib.ESIndex_Store_Document>
@{
    TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;
    var prms = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(Context.Request.QueryString.Value);
    int page_curr = 1;
    int page_prev = 1;
    int page_next = 2;
    var total_docs = Convert.ToDouble(ViewData["hits"]);
    var page_nums = Math.Ceiling(total_docs/10);

    Dictionary<string, string> prms_route_data = new Dictionary<string, string>();
    foreach(var item in prms.Keys)
    {
        if (item.Equals("page", StringComparison.OrdinalIgnoreCase))
        {
            page_curr = Convert.ToInt16(prms[item]);
            continue;
        }
        
        if(!String.IsNullOrEmpty(prms[item].ToString())){
            prms_route_data.Add(item, prms[item].ToString());
        }
        
    }

    page_prev = (page_prev > 1 ? page_curr - 1:1);
    page_next = (page_curr == page_nums ? page_curr :page_curr + 1);
                    
}

<div class="row">
    <div class="col-12">
        <a asp-action="New" class="btn btn-success">
            <i class="fas fa-plus"></i>
            <span class="hidden-sm hidden-xs">Add New Store</span>
        </a>
    </div>
</div>
<div class="row">
    <div id="msg" class="col-12 alert alert-info"></div>
</div>
<div class="row">
    <div class="col-12">
        <form method="get">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                @if(prms_route_data.Keys.Any(q => q.Equals("q", StringComparison.OrdinalIgnoreCase)))
                {
                    <input type="text" class="form-control" placeholder="Search.." aria-label="q" name="q" aria-describedby="basic-addon1" value="@prms_route_data["q"]"/>
                }
                else
                {
                    <input type="text" class="form-control" placeholder="Search.." aria-label="q" name="q" aria-describedby="basic-addon1"/>
                }
                
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" asp-action="Index">Search</button>
                </div>
                
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <table class="table table-responsive-sm border-left border-right border-bottom">
            <thead class="thead-light" style="text-transform: uppercase">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Retailer</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="4">
                        <nav aria-label="Page navingation">
                            <ul class="pagination">                            
                                @if(page_curr == 1)
                                {
                                    <li class="page-item disabled">
                                        <i class="fas-fa-step-backward"></i>
                                        <span class="d-sm-none">First Page</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a asp-action="Index" asp-all-route-data="prms_route_data" asp-route-page="1" class="page-link">
                                            <i class="fas fa-step-backward"></i>
                                            <span class="d-sm-none">First</span>
                                        </a>
                                    </li>
                                }
                                @if(page_curr == 1)
                                {
                                    <li class="page-item disabled">
                                        <i class="fas-fa-step-backward"></i>
                                        <span class="d-sm-none">Previous</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a asp-action="Index" asp-all-route-data="prms_route_data" asp-route-page="@page_prev" class="page-link">
                                            <i class="fas fa-backward"></i>
                                            <span class="d-sm-none">Previous</span>
                                        </a>
                                    </li>
                                }
                                @for( int pg = 1; pg <= page_nums; pg++)
                                {
                                    if(pg == page_curr)
                                    {
                                        <text>
                                            <li class="page-item active"> <span class="page-link">@page_curr</span> </li>
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            <li class="page-item">
                                                <a asp-action="Index" asp-all-route-data="prms_route_data" asp-route-page="@pg" class="page-link">@pg</a>
                                            </li>
                                        </text>
                                    }
                                } 
                                @if(page_curr == page_nums)
                                {
                                    <li class="page-item disabled">
                                        <i class="fas-fa-forward"></i>
                                        <span class="d-sm-none">Next</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a asp-action="Index" asp-all-route-data="prms_route_data" asp-route-page="@page_next" class="page-link">
                                            <i class="fas fa-forward"></i>
                                            <span class="d-sm-none">Next</span>
                                        </a>
                                    </li>
                                }                           
                                @if(page_curr == page_nums)
                                {
                                    <li class="page-item disabled">
                                        <i class="fas-fa-step-forward"></i>
                                        <span class="d-sm-none">Last</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a asp-action="Index" asp-all-route-data="prms_route_data" asp-route-page="@page_nums" class="page-link">
                                            <i class="fas fa-step-forward"></i>
                                            <span class="d-sm-none">Last</span>
                                        </a>
                                    </li>
                                }                 
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var store in Model)
                {
                    <tr>
                        <td><a asp-action="Details" asp-route-id="@store.Id">@textInfo.ToTitleCase(store.Name.ToLower())</a></td>
                        <td>@textInfo.ToTitleCase(store.City.ToLower())</td>
                        <td>@store.State</td>
                        <td>@textInfo.ToTitleCase(store.Retailer.Name.ToLower())</td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        @{
            
            prms_route_data = new Dictionary<string, string>();

            foreach(var item in prms.Keys)
            {
                if (item.Equals("page", StringComparison.OrdinalIgnoreCase))
                {
                    continue;
                }
                
                if(!String.IsNullOrEmpty(prms[item].ToString())){
                    prms_route_data.Add(item, prms[item].ToString());
                }
                
            }
        }
        <h3>Retailers</h3>
        <ul id="retailer" class="list-group">
            @foreach (var retailer in (IReadOnlyCollection<KeyedBucket<string>>)ViewData["agg_retailers"])
            {
                string retailer_name = retailer.Key.Split('=').First();
                string retailer_id = retailer.Key.Split('=').Last();
                <text>
                    <li value="@retailer_id" class="list-group-item d-flex justify-content-between align-items-center">
                        @if(!prms.Keys.Any( q => q.Equals("retailer", StringComparison.OrdinalIgnoreCase)))
                        {
                            <a asp-all-route-data="prms_route_data" asp-route-retailer="@retailer_id">@retailer_name</a>
                        }
                        else
                        {
                            <span>
                                <a asp-all-route-data="prms_route_data" asp-route-retailer="">
                                    <span class="text-secondary"><i class="fas fa-times"></i></span>
                                </a>
                                @retailer_name
                            </span>
                            
                        }
                             
                        <span class="badge badge-success badge-pill">@retailer.DocCount</span>
                    </li>
                </text>
            }
        </ul>
        <h3>States</h3>
        @{
            
            prms_route_data = new Dictionary<string, string>();

            foreach(var item in prms.Keys)
            {
                if (item.Equals("page", StringComparison.OrdinalIgnoreCase))
                {
                    continue;
                }
                
                if(!String.IsNullOrEmpty(prms[item].ToString())){
                    prms_route_data.Add(item, prms[item].ToString());
                }
                
            }
        }
        <ul class="list-group">
            @foreach (var state in (IReadOnlyCollection<KeyedBucket<string>>)ViewData["agg_states"])
            {
                <text>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @if(!prms.Keys.Any( q => q.Equals("state", StringComparison.OrdinalIgnoreCase)))
                        {
                            <a asp-all-route-data="prms_route_data" asp-route-state="@state.Key">@state.Key</a>
                        }
                        else
                        {
                            <span>
                                <a asp-all-route-data="prms_route_data" asp-route-state="">
                                    <span class="text-secondary"><i class="fas fa-times"></i></span>
                                </a>
                                @state.Key
                            </span>
                        }
                        
                        <span class="badge badge-success badge-pill">@state.DocCount</span>
                    </li>
                </text>
            }
        </ul>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var msgContainer = document.getElementById("msg");
        function showLocation(position)
        {
            msgContainer.innerHTML = "Latitude: " + position.coords.latitude + 
                                        "<br>Longitude: " + position.coords.longitude; 
        }

        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(showLocation);
        }
        else
            msgContainer.innerHTML = "Geolocation is not supported by this browser.";
    </script>

}
