@page
@model IndexModel
@inject tt_apps_srs.Models.IAuditor auditor
@{
    ViewData["Title"] = "Clients";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Url Code</th>
                <th>Number of Retailers</th>
                <th>Created On</th>
                <th>Last Updated On</th>
            </thead>
            <tbody>
                @foreach (var tenant in Model.Clients)
                {
                    var t = tenant.GetType();
                    var task_timestamps = (Task) typeof(Auditor).GetMethod("CreatedUpdatedDatesAsync").MakeGenericMethod(t).Invoke(auditor, new object[] { tenant.Id });
                    await task_timestamps.ConfigureAwait(false);
                    var timestamps = (ObjectTimestamps) task_timestamps.GetType().GetProperty("Result").GetValue(task_timestamps);

                <tr>
                    <td>@tenant.Id</td>
                    <td>@tenant.Name</td>
                    <td>@tenant.UrlCode</td>
                    <td>@tenant.ClientRetailers.Count(q => q.Active)</td>
                    <td>@timestamps.CreatedOn</td>
                    <td>@timestamps.LastUpdatedOn</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-page="./Create" class="btn btn-success">Add New Client</a>
    </div>
</div>

