@using System.Globalization
@using tt_apps_srs.Models
@model IEnumerable<ClientRetailerProduct>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <table class="table table-responsive-sm border-left border-right border-bottom">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">UPC</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Description</th>
                            <th scope="col">Retailer</th>
                            <th scope="col">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var product in Model)
                        {
                            <text>
                                <tr>
                                    <td>@product.UPC</td>
                                    <td><a href="#">@product.SKU</a></td>
                                    <td>@product.Name</td>
                                    <td>@product.ClientRetailer.Retailer.Name</td>
                                    <td>@String.Format("{0:c}", product.Cost)</td>
                                </tr>
                            </text>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
        </div>
    </div>
</div>
